.footer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
}


.crtext {
    font-size: 12px;
    color: white;
    font-family: Verdana,sans-serif;
}